extends layout

block content
	h1 Welcome to your custom business card generator!
	br
	h4 To get started, click here to connect to your LinkIn profile.
	.container
	//- button(id="li-auth") Connect! 

block scripts
	script(src="auth.js")
