extends layout

block content
	h1 Welcome to your custom business card generator!
	br
	h4 To get started, log in with your LinkedIn credentials. 
	form(id="user-login")
		input(placeholder="Username here")
		input(type="submit")

block scripts
	script(src="auth.js")
