doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Linkin Business Cards
		link(href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css')
		link(href='/styles.css' rel='stylesheet' type='text/css')
		//- Set up the LinkIn auth
		script(type="text/javascript" src="http://platform.linkedin.com/in.js")
			|api_key: "78n4kzsmz4le0g"
	
	body
		block content
		block scripts
